*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    display: inline-block;
    height: 20%;
    border-bottom: 3px solid #000;
}

#cloudylogo {
    float: left;
    width: 11%;
    margin: 0.1% 4%;
}

.cabecera {
    width: 100%;
    height: 100%;
}

.cabeza {
    font-size: 6rem;  
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0.5% 4% 0.5% 0%;
    float: left;
}

#icono-ajustes {
    width: 100%;
}

.boton-ajustes {
    width: 4.5%;
    float: left;
    background: #fff;
    margin: 3% 0% 3% 47%;
    border: none;
}

.dropdown-menu {
    margin: 15px;
    background: #262a34;
    color: white;
    
}

.menuperfil {
    color: white;
}

.menu {
    clear: both;
    height: 80%;
    width: 20%;
    display: inline;
}

.nav_ul{
    list-style: none;
    font-style: 'Microsoft Sans Serif', sans-serif;
    background-color: #3e3e3e;
    margin-top: 0;
    height: 80%;
    width: 20%;
    border-right: 3px solid black;
    top: 20%;
    padding-top: 4%;
    position: absolute;
}

.nav_li{
    padding-bottom: 10%;
    font-size: 1.8rem;
}

.nav_li a{
    color: #fff;
    text-decoration: none;
    padding-left: 10%;
}

.seccion:hover {
    color: #181818;
}

.archivos {
    position: absolute;
    margin-left: 20%;
    flex-wrap: wrap;
    width: 76%;
    height: 80%;
    bottom: 0;
}

.archivos-usuario {
    height: 80%;
    margin: 2% 4% 5% 2%;
    width: 100%;
}

.boton-subir {
    font-size: 28px;
    background: #1BBBFF;
    border: 1px solid #000;
    width: 14%;
    height: 9%;
    margin: 3% 4% 2%;
}

.boton-subir a {
    text-decoration: none;
    color: #000;
}

.boton-contenido i {
    padding-left: 18%;
    padding-right: 5%;
    padding-top: 8%;
}

.boton-contenido{
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,180px));
    grid-template-rows: 250px;
    row-gap: 3%;
    column-gap: 2%;
    grid-column-end: 0;
    overflow: auto;
    text-align: center;
}

.archivo{
    width: 12rem;
    height: 12rem;
}

.subir input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.subir {
    position: absolute;
    width: 50%;
    height: 40%;
    display: flex;
    top: 25%;
    left: 30%;
    border: 2px dashed #000;
}

.subir label {
    width: 100%;
    height: 100%;
}

.subir i { 
    position: absolute;
    font-size: 3rem;
}

.boton-subir:hover {
    background: #00aaf2;
}

#subir {
    position: absolute;
    font-size: 1.5rem;
    margin: 18% 0% 18% 22%;
}


.submit {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 10%;
    height: 6%;
}

.submit input{
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    background: #1BBBFF;
    border: 2px solid #000;
}

.submit :hover{
    background: #00aaf2;
}